@keyframes blinkboard {
  0%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #22a337, 0 0 20px #22a337, 0 0 40px #22a337,
      0 0 80px #22a337, 0 0 120px #22a337, 0 0 200px #22a337, 0 0 300px #22a337,
      0 0 400px #22a337;
  }
  50% {
    color: #22a337;
    text-shadow: none;
  }
}

.blinking-text-leaderboard {
  font-size: 30px;
  animation: blinkboard 0.5s linear infinite;
}

.contributions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.contribution-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  color: white;
  width: 90vw;
  max-width: 700px;
  margin-bottom: 10px;
  height: 70px;
  transition: 0.3s;
  animation: fadeIn 1.5s ease-in;
}

.img-container-leaderboard {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../../../public/bing/leaderboard.jpeg") no-repeat center
    center/cover;
  z-index: -1;
}

.medal-image {
  flex: 0 0 auto;
}

.name-div {
  flex: 1;
  margin-left: 10px;
}

.username,
.totaluploaded {
  margin: 0;
}

.username {
  font-size: 1.2em;
}

.totaluploaded-div {
  flex: 0 0 auto;
}

.totaluploaded {
  font-size: 1em;
  color: gray;
}

.loading-spinner-leaderboard {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #158a24;
  box-shadow: 0 -50px 50px -5px #26cc267a;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
