@import url("https://fonts.googleapis.com/css?family=Caveat:400,700|Gochi+Hand");

body {
  background: #000;
  display: flex;
  justify-content: center;
  font-family: "Caveat", cursive;
}

h1 {
  font-size: 88px;
  text-align: center;
}

.blinking-text {
  animation: blink 1.5s linear infinite;
}

@keyframes blink {
  0%,
  100% {
    color: #fff;
    text-shadow: 3px 0 20px #0099ff, 0 0 20px #0099ff, 0 0 40px #0099ff,
      0 0 80px #0099ff, 0 0 120px #0099ff, 0 0 200px #0099ff, 0 0 300px #0099ff,
      0 0 400px #0099ff;
  }
  5%,
  95% {
    color: #111;
    opacity: 1;
    text-shadow: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content-div {
  animation: fadeIn 0.5s ease-in;
  margin: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  min-width: 300px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  max-width: 650px;
  cursor: pointer;
  transition: 0.2s;
}

.content-img {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../../../public/bing/book.jpg") no-repeat center center/cover;
  z-index: -1;
}

.blur-content {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.outer-container-content {
  width: 100%;
  padding: 20px;
}

.content-content {
  width: 100%;
  max-width: 1200px;
}

.img-div {
  flex: 1;
  margin-right: 15px;
}

.text-div {
  font-size: 1rem;
  flex: 6;
  overflow: scroll;
  /* white-space: nowrap;
  text-overflow: ellipsis; */
}

.download-div img {
  flex: 2;
  transition: 0.3s ease-in;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 3px;
  padding: 3px;
}

.download-div:hover {
  transform: scale(1.1);
}

.custom-button,
.custom-button-submit {
  display: inline-block;
  border: 2px solid blue;
  border-radius: 25%;
  min-width: 50px;
  height: 50px;
  color: white;
  background-color: rgba(0, 0, 255, 0.8);
  cursor: pointer;
  font-size: 34px;
  text-align: center;
  line-height: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.custom-button:hover,
.custom-button-submit:hover {
  background-color: darkblue;
}

.custom-button-submit {
  width: 150px;
  border-radius: 25px;
}

.custom-button-submit:hover {
  border-radius: 0px;
}

.file-input-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  overflow: hidden;
  display: inline-block;
}

.file-input {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.custom-button-submit.loading {
  cursor: not-allowed;
  background-color: black;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  margin: auto;
}
a {
  display: inline-block;
  text-decoration: none;
  text-align: left;
}
