@keyframes blink-notify {
  0%,
  100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000,
      0 0 80px #ff0000, 0 0 120px #ff0000, 0 0 200px #ff0000, 0 0 300px #ff0000,
      0 0 400px #ff0000;
  }
  5%,
  95% {
    color: #111;
    filter: blur(0px);
    text-shadow: none;
  }
}

.blinking-text-notify {
  animation: blink-notify 1.5s linear infinite;
}
.blur-notify {
  width: 100%;
  position: relative;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.Notification-div {
  background: rgba(255, 0, 0, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 0, 0, 0.2);
  padding: 10px;
  color: white;
  width: 90vw;
  max-width: 1000px;
  margin-bottom: 10px;
  position: relative;
  transition: 0.3s;
}
.notifications-img {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../../../public/bing/notify.jpg") no-repeat center
    center/cover;
  z-index: -1;
}

.Notification-content {
  font-size: 15px;
  line-height: 1.6;
}

.Notification-user {
  font-weight: bold;
  margin-bottom: 10px;
}

.Notification-date {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 12px;
  color: #ccc;
}
